.sidebar-navigation-item {
    padding: 1rem 0rem 1rem 2.8rem;
    transition: font-weight 0.1s ease-in-out, color 0.1s ease-in-out;
}

.sidebar-navigation-item .nav-link {
    display: inline;
    padding: 1rem 3rem 1rem 1rem;
    color: inherit;
}

.sidebar-navigation-item.active {
    background-color: var(--light-blue); /*#D6E4F0*/
    font-weight: 700;
}

.sidebar-navigation-item:hover {
    color: var(--blue); /*#46B3E6*/
    font-weight: 700;
}