.mainbody-content-container {
    margin-top: 2rem;
    min-height: 72vh;
}

.feedback-toaster {
    position: fixed;
    display: flex;
    right: 2rem;
    bottom: 2rem;
    min-width: 20rem;
}

.feedback-toaster .toast {
    min-height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: var(--milk-white);
}

.toaster-success {
    background-color: rgba(80, 177, 80, 0.85) !important;
}

.toaster-error {
    background-color: rgba(208, 3, 3, 0.8) !important;
}